---
layout: default
title: Home
---
<div class="top-links">
  Quick Links<br>
  <a href="https://www.payschools.com/cat.asp?id=C740BA23A6504DACBD07791491B63467">PaySchool</a> 
  &bull; 
  <a href="http://www.signupgenius.com/go/20f0a4dafab2ba2f49-regatta">Regatta Volunteer Signup</a>
</div>
<h1 class="page-title">News</h1>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <div class="post-date">{{ post.date | date_to_string }}</div>
    <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <div class="post-excerpt">{{ post.content | strip_html | truncatewords: 35  }}&nbsp;&nbsp; 
      <a class="post-read-more" href="{{ post.url }}">&nbsp;&raquo</a></div>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">&larr; newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">&larr; newer</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">older &rarr;</a>
  {% endif %}
</div>
<div></div>