---
layout: default
title: Home
---
<div class="top-links">
  Quick Links<br>
  <a href="{{site.data.links.pay-fees}}">PaySchools</a> 
  &bull;
  <a href="{{site.data.links.hornet-country}}">Rowing&nbsp;Clothing</a>
  &bull; 
  <a href="https://salinerowing20152016.shutterfly.com/">Photo&nbsp;Gallery</a>
  &bull; 
  <a href="{{site.data.links.volunteer}}">Volunteer&nbsp;Signup</a>
  &bull; 
  <a href="{{site.data.links.regatta-schedule}}">Regatta&nbsp;Schedule</a>
</div>

<p style="text-align:center;">
  <img src="http://i.imgur.com/vXjjyfX.png" alt="center-nb" /><br>
  <a href="http://salinerowing.org/2016/05/04/salt-springs-sprints-regatta/">
    <span style="text-size:larger">May 14th, Ford Lake</span>
  </a>
  <p style="font-size:larger">We Row. Do You?</p>
</p>

<h1 class="page-title">News</h1>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <div class="post-date">{{ post.date | date_to_string }}</div>
    <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <div class="post-excerpt">{{ post.content | strip_html | truncatewords: 35  }}&nbsp;&nbsp; 
      <a class="post-read-more" href="{{ post.url }}">&nbsp;&raquo</a></div>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">&larr; newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">&larr; newer</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">older &rarr;</a>
  {% endif %}
</div>
