#carbonads {
  background-color: #FBFBFB;
  border: 2px solid #E8E8E8;
  line-height: 1.2;
  padding: 16px;
  width: 132px;
}

.carbon-text, .carbon-poweredby {
  margin-top: 1pc;
  display: block;
  color: #545454;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  text-align: center;
}
