img {
  border: solid #ddd 1px;
  max-width: 100%;
}

img[title="noborder"] {
  border-style: none !important;
}

#join-crew-video {
  height: 250px;
  width: 450px;
}

#banner-small {
  display: none;
}