img {
  border: solid #ddd 1px;
  max-width: 100%;
}

img[alt="noborder"] {
  border-style: none;
}

#join-crew-video {
  height: 250px;
  width: 450px;
}

#saline-crew-banner-small {
  display: none;
}