html, body {
  margin: 0;
  padding: 0;
  background-color: steelblue;
}


#content {
  width: 1000px;
  margin-top: 2pc;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2pc;
  padding: 10px;
  overflow-y: overlay;
  background-color: white;
}

.left {
  float: left;
  max-width:708px;
  margin-top: 1pc;
  margin-bottom: 1pc;
  padding-right: 13px;
  border-right: solid #ddd 1px;
}

.right {
  margin-top: 1pc;
  margin-bottom: 1pc;
  margin-left: 735px;
  text-align: center;
}

.right h4 {
  margin-bottom: 0.2pc;
}

footer {
  clear: both;
  text-align: center;
  padding-top: 1pc;
}
