a, a:link, a:visited {
  color: darkgoldenrod;
  border-bottom: 1px solid darkgoldenrod;
  text-decoration: none;

  &:hover {
    border-bottom-color: steelblue;
    color: steelblue;
  }
}

a.pure-button {
  border-bottom-width: 0;
}