a, a:link, a:visited {
  color: darkgoldenrod;
  border-bottom: 1px solid darkgoldenrod;
  text-decoration: none;

  &:hover {
    color: #222;
  }
}

h1 a, h2 a {
  border-bottom-width: 0
}

a.pure-button {
  border-bottom: none;
}