.top-links {
  text-align: center;
  font-size: large;
  font-weight: bold;
  padding: .5pc;
  background-color: #e5e5e5;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

a, a:link, a:visited {
  color: darkgoldenrod;
  border-bottom: 1px solid darkgoldenrod;
  text-decoration: none;

  &:hover {
    border-bottom-color: steelblue;
    color: steelblue;
  }
}

a.pure-button {
  border-bottom-width: 0;
}