@media (max-width: 768px) {
  #content {
    margin-top: 0;
  }
  
  #topbar {
    margin-right: 2pc;
  }
  
  .left {
    max-width: 530px;
  }
  
  .right {
    margin-left: 555px;
  }
}

@media (max-width: 480px) {
  #content {
    margin-top: 0;
  }
  
  #banner {
    width: 60%;
  }
  
  #topbar {
    margin-right: 0.5pc;
  }
  
  .left {
    max-width: 460px;
    padding-right: 0;
    border-right-width: 0;
  }
  
  .right {
    margin-left: 0;
  }
}

@media (max-width: 390px) {
  #content {
    margin-top: 0;
  }
  
  #banner {
    width: 60%;
  }
  
  #topbar {
    margin-right: 0.5pc;
  }
  
  .left {
    max-width: 370px;
    padding-right: 0;
    border-right-width: 0;
  }
  
  .right {
    float: none;
    margin-left: 0;
  }
}