@media (max-device-width: 800px) {
  body, html {
    margin: 0.2pc;
  }

  .site-title {
    text-align: center;
    font-size: 20px;
  }

  #topbar {
    text-align: center;
  }

  #content {
    width: auto;
  }

  .left {
    float: none;
    width: auto;
    padding-right: 0;
    border-right: none;
  }

  .right {
    margin-left: 0;
  }
}
