.post {
  margin-bottom: 4pc;
}

.post-title {
  font-size: 1.3em;
}

.post-date {
  display: block;
  color: #9a9a9a;
  font-weight: bold;
}

.post-comment-button {
  float: left;
  font-size: 80%;
}

.older {
  float: right;
}

.recent-post {
  line-height: 2;
  border-bottom: solid #ccc 1px;
}
