.post {
  margin-bottom: 1pc;
  border-bottom: 1px solid #ddd;
}

.post-title {
  font-size: 1.25em;
}

.post-date {
  display: block;
  color: #9a9a9a;
  font-weight: bold;
  margin-bottom: -1.4em;
}

.post-comment-button {
  float: left;
  font-size: 80%;
}

.older {
  float: right;
}

.recent-post {
  line-height: 2;
  border-bottom: solid #ccc 1px;
}

.post-read-more {
}

a.post-read-more {
  border-bottom-width: 0;
  font-size: x-large;
  float: right;
  margin-top: -0.5pc;
}

.post-excerpt {
  margin-bottom: 1pc;
}