.rss-metro, .email-metro, .twitter, .stackoverflow, .github{
	background: url(https://cdn.rawgit.com/mike-ward/mike-ward.github.io/master/cdn/images/sprites.png) no-repeat;
    display: inline-block;
}

.rss-metro{
	background-position: 0 0;
	width: 48px;
	height: 48px;
}

.email-metro{
	background-position: -48px 0;
	width: 48px;
	height: 48px;
}

.twitter{
	background-position: -96px 0;
	width: 48px;
	height: 48px;
}

.stackoverflow{
	background-position: -144px 0;
	width: 48px;
	height: 48px;
}

.github{
	background-position: -192px 0;
	width: 48px;
	height: 48px;
}

