.top-btn {
  position: fixed;
  text-align: center;
  vertical-align: middle;
  right: 1pc;
  bottom: 1pc;
  display: block;
  border-radius: 0.5pc;
  background-color: rgba(0, 0, 0, .4);
}

.top-btn a, .top-btn a:link, .top-btn a:visited {
  color: white;
  font-variant: small-caps;
  border-bottom-width: 0;
  padding: 0.5pc;
}

.top-btn a:focus {
  outline: 0;
}