.top-btn {
  position: fixed;
  text-align: center;
  vertical-align: middle;
  right: 2pc;
  bottom: 2pc;
  display: block;
  border-radius: 0.5pc;
  padding: 0.5pc;
  background-color: rgba(0, 0, 0, .4);
}

