.top-btn {
  position: fixed;
  text-align: center;
  line-height: 0.5;
  right: 2pc;
  bottom: 2pc;
}

.top-btn a {
  display: block;
  width: 2pc;
  height: 2pc;
  background: #333;
}

