<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="description" content="Saline Rowing Club, Saline, Michigan">
  <title>
    {% if page.title == "Home" %}{{ site.title }}
    {% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}
  </title>
  <link rel="stylesheet" href="/css/site.css">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
  <body>
    <div id="content">
        <div id="topbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/parent-corner">Parent&nbsp;Corner</a></li>
          <li><a href="/join-crew">Join&nbsp;Crew</a></li>
          <li><a href="/fund-raising">Fund&nbsp;Raising</a></li>
          <li><a href="/forms-maps-downloads">Downloads</a></li>
          <li><a href="/contact-us">Contact&nbsp;Us</a></li>
          <li><a href="/archive">Archive</a></li>
        </ul>
      </div>
      <img id="banner" src="/assets/images/saline-crew-banner.jpg" alt="Welcome to Saline Crew" />
      <img id="banner-small" src="/assets/images/saline-crew-banner-small.gif" alt="Welcome to Saline Crew" />
      <div id="separator"></div>
      <div class="left">
        {{ content }}
      </div>
      <div class="right">
        <h4>LINKS</h4>
        <ul style="text-align:left">
          <li><a href="{{site.data.links.regatta-schedule}}">2015 Regatta Schedule</a></li>
          <li><a href="https://salinecrew.github.io/2015/02/06/spring-season-hotel-reservations/">2015 Regatta Hotels</a></li>
          <li><a href="https://www.regattacentral.com/index.jsp">Regatta Central</a></li>
          <li><a href="http://www.usrowing.org/index.aspx">USRowing</a></li>
        </ul>
        
        <h4>DONATE TO CREW</h4>
        <div style="margin-top: 0.5pc; margin-bottom: 1.5pc;">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="hidden" name="hosted_button_id" value="6B36NNYL4G3Z6" />
            <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" />
          </form>
        </div>  
        
        <h4>YARD OAR</h4>
        <div><a href="mailto:sherylmo17@gmail.com">Yard oars with your rower's name!</a></div>
        <div><em>Suggested donation: $35</em></div>
        <img src="/assets/images/yard-oar.jpg" alt="sample yard oar">
        
        <h4>REGATTA SPONSOR</h4>
        <div><a href="http://www.buschs.com/" target="_blank">
          <img src="/assets/images/busch-logo.jpg" alt="Busch's Fresh Food Market logo"></a>
        </div>
        
        <h4>RENT A ROWER</h4>
        <div><a href="/fund-raising/#rent"><img src="/assets/images/rentarower.png" alt="Rent a rower logo"></a></div>
      </div>
      
      <footer>
        <div>
          <a href="/">Home</a> |
          <a href="/parent-corner">Parent&nbsp;Corner</a> |
          <a href="/join-crew">Join&nbsp;Crew</a> |
          <a href="/fund-raising">Fund&nbsp;Raising</a> |
          <a href="/forms-maps-downloads">Downloads</a> |
          <a href="/contact-us">Contact&nbsp;Us</a> |
          <a href="/archive">Archive</a> 
        </div>
      </footer>
      
    </div>
  </body>
</html>
