<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="stylesheet" href="/css/site.css">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  <link rel="amphtml" href="http://mercury.postlight.com/amp?url={{ site.url }}{{ page.url }}">
  {% seo %}
</head>
  <body>
    <h1>This site is no longer active. Go to <a href="http://salinerowing.org">http://salinerowing.org</a></h1>
    <a name="top"></a>
    <div id="content">
        <div id="topbar">
        <ul class="no-bullets">
          <li><a href="/">News</a></li>
          <li><a href="/parent-corner">Parent&nbsp;Corner</a></li>
          <li><a href="/join-crew">Join&nbsp;Rowing</a></li>
          <li><a href="/fund-raising">Fund&nbsp;Raising</a></li>
          <li><a href="/forms-maps-downloads">Downloads</a></li>
          <li><a href="/contact-us">Contact&nbsp;Us</a></li>
          <li><a href="/archive">Archive</a></li>
        </ul>
      </div>
      <img id="banner" 
           src="/assets/images/saline-rowing-banner.jpg" 
           alt="Welcome to Saline Rowing" 
           onclick="location.href='/'" 
           style="cursor:pointer" />
      <img id="banner-small" 
           src="/assets/images/saline-rowing-small.jpg"
           alt="Welcome to Saline Rowing" 
           onclick="location.href='/'" 
           style="cursor:pointer" />
      <div id="separator"></div>
      <div class="left">
        {{ content }}
      </div>
      <div class="right">
        <h4>SEARCH</h4>
        <div style="max-height: 3em">
          <script>
          (function() {
            var cx = '004160351312568825995:mrv_onfg0m0';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
          </script>
          <gcse:search></gcse:search>
        </div>
        {% if page.title == "Parent Corner" %}
        <h4>PARENT CORNER</h4>
        <ul class="no-bullets" style="text-align:left">
          <li><a href="#practice">Practices</a></li>
          <li><a href="#board">Board of Directors</a></li>
          <li><a href="#fees">Registration Fees</a></li>
          <li><a href="#clothing">Rower Clothing</a></li>
          <li><a href="#transporation">Transportation</a></li>
          <li><a href="#volunteer">Volunteer Positions</a></li>
          <li><a href="#regatta">Enjoying Regattas</a></li>
          <li><a href="#food">Regatta Food</a></li>
          <li><a href="#glossary">Glossary</a></li>
          <li><a href="#resources">Resources</a></li>
        </ul>
        {% endif %}

        {% if page.title == "Fund Raising" %}
        <h4>FUND RAISING</h4>
        <ul class="no-bullets" style="text-align:left">
          <li><a href="#yardoar">Yard Oar</a></li>
          <li><a href="#busch">Busch's Scrip Program</a></li>
          <li><a href="#boathouse">Boat House</a></li>
          <li><a href="#individual">Individual Options</a></li>
          <li><a href="#team">Team Options</a></li>
          <li><a href="#wish">Wish List</a></li>
          <li><a href="#rent">Rent-A-Rower</a></li>
        </ul>
        {% endif %}

        {% if page.title == "Join Saline Rowing" %}
        <h4>JOIN ROWING</h4>
        <ul class="no-bullets" style="text-align:left">
          <li><a href="#join">How to Join</a></li>
          <li><a href="#history">History</a></li>
          <li><a href="#mission">Our Mission</a></li>
          <li><a href="#vision">Our Vision</a></li>
        </ul>
        {% endif %}

        <h4>LINKS</h4>
        <ul class="no-bullets" style="text-align:left">
          <li><a href="/calendar">Calendar of Events</a></li>
          <li><a href="{{site.data.links.regatta-schedule}}">Regatta Schedule</a></li>
          <li><a href="https://www.regattacentral.com/index.jsp">Regatta Central</a></li>
          <li><a href="http://www.usrowing.org/index.aspx">USRowing</a></li>
        </ul>

        <h4>DONATE TO ROWING</h4>
        <div style="margin-top: 0.5pc; margin-bottom: 1.5pc;">
          <a href="{{site.data.links.pay-fees}}">
            <img src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" alt="Donate Today" />
          </a>
        </div>

        <h4>YARD OAR</h4>
        <div><a href="mailto:siefkercarpenter@comcast.net">Yard oars with your rower's name!</a></div>
        <div><em>Suggested donation: $35</em></div>
        <img src="/assets/images/yard-oar.jpg" alt="sample yard oar">

        <h4>REGATTA SPONSOR</h4>
        <div><a href="http://www.buschs.com/" target="_blank">
          <img src="/assets/images/busch-logo.jpg" alt="Busch's Fresh Food Market logo"></a>
        </div>

        <h4>RENT A ROWER</h4>
        <div><a href="/fund-raising/#rent"><img src="/assets/images/rentarower.png" alt="Rent a rower logo"></a></div>

        <h4>TWITTER</h4>
        <div>
          <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/Saline_Rowing" data-widget-id="576109363254816768">Tweets by @Saline_Rowing</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>

      </div>

      <footer>
        <div>
          <a href="/">News</a> |
          <a href="/parent-corner">Parent&nbsp;Corner</a> |
          <a href="/join-crew">Join&nbsp;Rowing</a> |
          <a href="/fund-raising">Fund&nbsp;Raising</a> |
          <a href="/forms-maps-downloads">Downloads</a> |
          <a href="/contact-us">Contact&nbsp;Us</a> |
          <a href="/archive">Archive</a>
        </div>
      </footer>

    </div>

    <div class="top-btn">
      <a href="#top" title="Go to top">&uArr;</a>
    </div>

    <script src="/js/scroll.js"></script>
  </body>
</html>
