<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="description" content="Saline Rowing Club, Saline, Michigan">
  <title>
    {% if page.title == "Home" %}{{ site.title }}
    {% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}
  </title>
  <link rel="stylesheet" href="/css/site.css">
</head>
  <body>
    <div id="content">
        <div id="topbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/parent-corner">Parent Corner</a></li>
          <li><a href="/join-crew">Join</a></li>
          <li><a href="/fund-raising">Fund Raising</a></li>
          <li><a href="/forms-maps-downloads">Downloads</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
      </div>
      <img src="/assets/images/saline-crew-banner.jpg" alt="Welcome to Saline Crew" />
      <div id="separator"></div>
      <div class="left">
        {{ content }}
      </div>
      <div class="right">
        <h4>LINKS</h4>
        <ul>
          <li><a href="/2015/02/05/egatta-schedule/">2015 Regatta Schedule</a></li>
          <li><a href="https://www.regattacentral.com/index.jsp">Regatta Central</a></li>
          <li><a href="http://www.usrowing.org/index.aspx">USRowing</a></li>
        </ul>
        
        <h4>DONATE TO CREW</h4>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_s-xclick" />
          <input type="hidden" name="hosted_button_id" value="6B36NNYL4G3Z6" />
          <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
          <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>
        
        <h4>YARD OAR</h4>
        <p><a href="mailto:sherylmo17@gmail.com">Yard oars with your rower's name!</a></p>
        <p><em>Suggested donation of $35 for the club boathouse.</em>        </p>
        <img src="/assets/images/yard-oar.jpg" alt="sample yard oar">
        
        <h4>REGATTA SPONSOR</h4>
        <p><a href="http://www.buschs.com/" target="_blank">
          <img src="/assets/images/busch-logo.jpg" alt="Busch's Fresh Food Market logo"></a>
        </p>
        
        <h4>RENT A ROWER</h4>
        <p><a href="/fund-raising/#rent"><img src="/assets/images/rentarower.png" alt="Rent a rower logo"></a></p>
        
      </div>
    </div>
    <footer>
      <div>
        <a href="/">Home</a> |
        <a href="/parent-corner">Parent Corner</a> |
        <a href="/join-crew">Join</a> |
        <a href="/fund-raising">Fund Raising</a> |
        <a href="/forms-maps-downloads">Downloads</a> |
        <a href="/contact">Contact Us</a>
      </div>
    </footer>
  </body>
</html>
