---
layout: default
---
<div class="post">
  <div class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></div>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
  <button onclick="load_disqus('{{ page.url }}', '{{ page.title }}');" class="pure-button blog-comment-button">Comments</button>
  <div id="disqus_thread"></div>
</div>

<div>
  {% if page.next.url %}
  <a href="{{ page.next.url }}">&larr; newer</a>
  {% endif %}
  {% if page.previous.url %}
  <a style="float:right" href="{{ page.previous.url }}">older &rarr;</a>
  {% endif %}
</div>
